#mycanvas {
    border: 1px solid purple;
    border-radius: 10px;
    background: white;
    box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.2); 
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#all {
    background-image:url(bgd.jpg);
}

#background {
    box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.2); 
    border: 1px solid blue;
    border-radius: 20px;
    margin:100px 250px 100px 250px;
    width: 1000px;
    height: 500px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.4),rgba(0,0,0,0.7));
}

#big {
    margin: 50px 5px 5px 50px;
}

#buttons {
    border: none;
    border-radius: 22px;
    margin:0px 0px 0px 3px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow:inset 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#buttons:hover {
    background-color: rgba(200, 200, 200, 1);
    box-shadow:inset 0px 0px 1px 1px rgba(0, 0, 0, 0.7);
}

.buttonimg {
    width: 40px;
    height: 40px;
    margin:3px 11px 3px 11px;
}

.line {
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
}

#color {
    -webkit-appearance: none;
    margin:0px 40px 20px 45px;
    box-shadow:inset 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
	border: none;
	width: 150px;
}
#color::-webkit-color-swatch-wrapper {
	padding: 0;
}
#color::-webkit-color-swatch {
	border: none;
}


#penwid {
    margin:0px 50px 20px 50px;
}

#font-family {
    margin:0px 0px 20px 40px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
}

#font-size {
    margin:0px 0px 20px 0px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
}

.lst {
    margin-left: 22px !important;
    
}